html, body {
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#publisher {
	float: left;
	margin: 10px;
    width: 40%;
}

#subscriber {
	float: right;
    margin: 10px;
    width: 40%;
}

video {
    width: 70%;
    margin: 10px auto 0 auto;
    display: block;
}