/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Custom openvidu-components styles
:root {
	/* Basic colors */
	--ov-background-color: #ffb7b7; // Background color
	--ov-surface-color: #d0bcff; // Surfaces colors (panels, dialogs)

	/* Text colors */
	--ov-text-primary-color: #111111; // Text color over primary background
	--ov-text-surface-color: #1d1d1d; // Text color over surface background

	/* Action colors */
	--ov-primary-action-color: #273235; // Primary color for buttons, etc.
	--ov-secondary-action-color: #f1f1f1; // Secondary color for buttons, etc.
	--ov-accent-action-color: #3300ab; // Color for highlighted elements

	/* Status colors */
	--ov-error-color: #eb5144; // Error color
	--ov-warn-color: #ffba53; // Warning color

	/* Radius */
	--ov-toolbar-buttons-radius: 20%; // Radius for toolbar buttons
	--ov-leave-button-radius: 20px; // Radius for leave button
	--ov-video-radius: 5px; // Radius for video elements
	--ov-surface-radius: 5px; // Radius for surface elements
}
