# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*/.settings
*/.classpath
*/.project

*/pom.xml.versionsBackup

openvidu-react-native-androidx/node_modules/

openvidu-react-native-androidx/ios/build/

.DS_Store

*.tgz

*/.angular/
*/.idea/
*/node_modules/

openvidu-components/openvidu-admin-dashboard/.vscode/
