@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

$my-app-primary: mat-palette($mat-blue-grey, 50, 300);

$my-app-accent: mat-palette($mat-amber, 500, 700, A100);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

// use our theme with angular-material-theme mixin
@include angular-material-theme($my-app-theme);

// specify theme class eg: <body class="my-theme"> ... </body>

.alternate-theme {
    $alternate-primary: mat-palette($mat-grey, 800);
    $alternate-secondary:  mat-palette($mat-grey, 400);

    $alternate-theme: mat-light-theme($alternate-primary, $alternate-secondary);

    @include angular-material-theme($alternate-theme);
  }


// Custom openvidu-components colors
:root {

  --ov-primary-color: #303030;
  --ov-secondary-color: #586063;
  --ov-tertiary-color: #598eff;
  --ov-warn-color: #EB5144;
  --ov-accent-color: #ffae35;

  --ov-dark-color: #1d1d1d;
  --ov-dark-light-color: #43484A;

  --ov-light-color: #ffffff;
  --ov-light-dark-color: #f1f1f1;
}
