@use '@angular/material' as mat;
@use './assets/styles/openvidu-theme.scss';

@include mat.core();

html {
	@include mat.core-theme(openvidu-theme.$light-theme);
	@include mat.all-component-bases(openvidu-theme.$light-theme);
	@include mat.all-component-colors(openvidu-theme.$light-theme);
	@include mat.all-component-typographies(openvidu-theme.$light-theme);
	@include mat.all-component-densities(openvidu-theme.$light-theme);
}
html,
body {
	height: 100%;
	overflow: hidden;
}
body {
	margin: 0;
	font-family: 'Roboto', 'RobotoDraft', Helvetica, Arial, sans-serif;
}

// Custom openvidu-components styles
:root {
	/* Basic colors */
	--ov-background-color: #303030; // Background color
	--ov-surface-color: #ffffff; // Surfaces colors (panels, dialogs)

	/* Text colors */
	--ov-text-primary-color: #ffffff; // Text color over primary background
	--ov-text-surface-color: #1d1d1d; // Text color over surface background

	/* Action colors */
	--ov-primary-action-color: #273235; // Primary color for buttons, etc.
	--ov-secondary-action-color: #f1f1f1; // Secondary color for buttons, etc.
	--ov-accent-action-color: #0089ab; // Color for highlighted elements

	/* Status colors */
	--ov-error-color: #eb5144; // Error color
	--ov-warn-color: #ffba53; // Warning color

	/* Radius */
	--ov-toolbar-buttons-radius: 50%;
	--ov-leave-button-radius: 10px;
	--ov-video-radius: 5px;
	--ov-surface-radius: 5px;
}
