.stream-container {
	padding: 0;
}

#session {
	padding-top: 70px;
	height: 100vh;
	height: 100%;
	width: 100%;
}

#session-header {
	margin-bottom: 20px;
}

#session-title {
	display: inline-block;
}

#buttonLeaveSession {
	float: right;
	margin-top: 20px;
}