#publisher {
	float: left;
	width: 20%;
	margin: 10px;
}

#subscriber {
	float: left;
	width: 20%;
	margin: 10px;
}

video {
	width: 100%;
	height: auto;
}

table {
	border: 0;
}

th {
	text-align: left;
}

td {
	text-align: left;
	padding-right: 15px;
}