<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8"></meta>
	<title>OpenVidu Demo Java MVC Secure</title>
	<link rel="stylesheet" type="text/css" href="style.css"></link>
</head>

<body>
	<form action="/dashboard" method="post">
		<p>
			<label>User</label> <input type="text" name="user" required="true"></input>
		</p>
		<p>
			<label>Pass</label> <input type="password" name="pass" required="true"></input>
		</p>
		<p>
			<button type="submit">Log in</button>
		</p>
	</form>
	<table style="border: 1px solid">
		<tr>
			<th>User</th>
			<th>Pass</th>
		</tr>
		<tr>
			<td>publisher1</td>
			<td>pass</td>
		</tr>
		<tr>
			<td>publisher2</td>
			<td>pass</td>
		</tr>
		<tr>
			<td>subscriber</td>
			<td>pass</td>
		</tr>
	</table>
	<p>PUBLISHER: send and receive media</p>
	<p>SUBSCRIBER: receive media</p>
</body>

</html>