<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"></meta>
    <title>OpenVidu Demo Node MVC Secure</title>
</head>

<body>Leaving session...
</body>

<script src="OpenVidu.js"></script>

<script>
    window.location.href = '/dashboard';
</script>

</html>