<ov-videoconference
	[tokens]="tokens"
	[recordingActivityRecordingsList]="recordingList"
	[recordingActivityRecordingError]="recordingError"
	(onToolbarLeaveButtonClicked)="onLeaveButtonClicked()"
	(onToolbarStartRecordingClicked)="onStartRecordingClicked()"
	(onActivitiesPanelStartRecordingClicked)="onStartRecordingClicked()"
	(onToolbarStopRecordingClicked)="onStopRecordingClicked()"
	(onActivitiesPanelStopRecordingClicked)="onStopRecordingClicked()"
	(onActivitiesPanelDeleteRecordingClicked)="onDeleteRecordingClicked($event)"
	[activitiesPanelRecordingActivity]="recordingEnabled"
	[toolbarRecordingButton]="recordingEnabled"
>
</ov-videoconference>
