/* You can add global styles to this file, and also import other style files */

:root {
	--ov-background-color: #1f2020;
	--ov-surface-color: #ffffff;

	--ov-primary-action-color: #273235;
	--ov-secondary-action-color: #a5b9a6;
	--ov-accent-action-color: #00aad4;

	--ov-error-color: #eb5144;
	--ov-warn-color: #ffba53;

	--ov-text-primary-color: #ffffff;
	--ov-text-surface-color: #1d1d1d;

	--ov-toolbar-buttons-radius: 50%;
	--ov-leave-button-radius: 10px;
	--ov-video-radius: 5px;
	--ov-surface-radius: 5px;
}
html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}
